@import './../../style/functions'
@import './../../style/variables'
@import './../../style/mixins'
.loader
  @include blackout-content-center
  width: 80px
  height: 80px
  padding: spacing(1)
  background: transparent
  opacity: 1

  &-message
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    height: 100%