<app-modal 
  [open]="isDetailOpen" 
  [title]="selectedComic.title"
  (close)="closeDetails()"
  >
  <div style="display: flex; flex-flow: column; text-align: center; width: 300px">    
      <div>
        <b>{{selectedComic.title }}</b>
        <p>{{ selectedComic.description}}</p>
      </div>
      <div>
        <img [src]="selectedComic.imageURL" style="width: auto; height: auto;" />
      </div>      
      
  </div>
</app-modal>

<app-list
  (changePagination)="refreshSearch($event)"
  [limit]="comics.limit" 
  [total]="comics.total" 
  [offset]="comics.offset"
>
  <app-list-card *ngFor="let comic of comics.results"
    [image]="comic.imageURL"
    [title]="comic.title"
    [id]="comic.id"
    (selectCard)="selectComic($event)"
  >
  </app-list-card>

</app-list>