<div class="list-filter-toolbar">
  <div style="text-align: center">
    <div>
      <div class="list-filter-toolbar-paging">
        <button class="btn" (click)="changePage(offset - 1 )"><<</button> |
        {{ getCurrentPage() }}
        of {{ getPages() }} | <button class="btn" (click)="changePage( offset + 1 )">>></button>
      </div>
      <div class="list-filter-toolbar-search-size">
        Showing:
        <select
          [formControl]="limitSelector"
          >
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
        results of {{ total }}.
      </div>
    </div>
  </div>
</div>
