@import './../../style/variables'
@import './../../style/functions'
.toolbar
  width:100%
  height: $toolbarHeight
  z-index: 99
  position: fixed
  top: 0
  left: 0
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  background: $secondary-color
  color: $white
  margin-bottom: spacing(3)
  &-logo
    margin-left: spacing(2)
  &-right-menu
    margin-right: spacing(2)