$font-family: "RobotoCondensed", "Trebuchet MS", Helvetica, Arial, sans-serif
$primary-color: #E62429
$secondary-color:  #202020

$gray-lighter: #999
$gray-light: #5C5C7F
$gray: #404249
$gray-dark: #071717
$white: #FFF

$spacing-factor: 8

$devicesWidth: (mobile: 320px, tablet: 900px, desktop: 1280px)

$gridColumns: (mobile: 1, tablet: 2, desktop: 4)

$font-size: (title: 16px,content: 14px)