$font-family: "RobotoCondensed", "Trebuchet MS", Helvetica, Arial, sans-serif
$primary-color:  #202020
$secondary-color: #E62429

$gray-light: #5C5C7F
$gray-dark: #071717
$white: #FFF

$spacing-factor: 8

$devicesWidth: (mobile: 320px, tablet: 900px, desktop: 1280px)

$gridColumns: (mobile: 1, tablet: 2, desktop: 4)

$font-size: (title: 16px,content: 14px)