@import './../../../style/variables' 
@import './../../../style/functions' 
@import './../../../style/mixins'

.list-card
  border: 2px solid $primary-color
  box-sizing: border-box
  padding: spacing(2)
  height: 100%
  text-align: center
  display: flex
  flex-flow: column
  transition: box-shadow 0.2s
  border-radius: 5px
  cursor: pointer
  &:hover
    box-shadow: 1px 1px 6px $primary-color
  &--content
    display: flex
    flex-flow: column wrap
    justify-content: space-between
    height: 100%
  &--image
    width: 100%
    max-height: 261px
    height: auto
    border-radius: 5px
    object-fit: contain
  &--title 
    @include title
    margin: spacing(1)