@import './../../style/variables' 
@import './../../style/functions' 

.list
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-auto-rows: 1fr
  gap: spacing(2)
  width: 100%
  box-sizing: border-box
  background: $white
  border: 2px solid $primary-color
  padding: spacing(2)
  @media screen and (min-width: map-get($devicesWidth,'mobile'))
    grid-template-columns: repeat(map-get($gridColumns, 'mobile'), 1fr)
  @media screen and (min-width: map-get($devicesWidth,'tablet'))
    grid-template-columns: repeat(map-get($gridColumns, 'tablet'), 1fr)    
  @media screen and (min-width: map-get($devicesWidth, 'desktop'))
    grid-template-columns: repeat(map-get($gridColumns, 'desktop'), 1fr)
