<div class="list">
  <div class="list-card">conteudo lista
    <br/>
    <br/>
    <br/>
    <hr/>
    Outro dado<br/>
    Aqui em baixo<br/>
  </div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
  <div class="list-card">conteudo lista</div>
</div>